global:
  scrape_interval: 5s
  evaluation_interval: 5s

rule_files:
  - /etc/prometheus/rules/*.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093

scrape_configs:
  - job_name: "fix-acceptor"
    metrics_path: /api/metrics
    static_configs:
      - targets:
          - host.docker.internal:8081
        labels:
          app: fix-acceptor
          protocol: fix

  - job_name: "ouch-acceptor"
    metrics_path: /api/metrics
    static_configs:
      - targets:
          - host.docker.internal:8082
        labels:
          app: ouch-acceptor
          protocol: ouch
